body{
    margin: 10;
    line-height: 0px;
    background-color: #1d1d21;
    color: #ccc;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.rhythm{
    max-width: 4rem;
}

#soundOnCheckbox{
    margin-bottom: 1rem;
}

.slider{
    width: fit-content;
    min-width: 200px;
}

.settingsSlider{
    margin-bottom: 1rem;
}

#globalProgressSlider{
    min-width: 800px;
}

#appDrawer{
    width: fit-content;
    max-width: 300px;
    margin-right: 1rem;
}

.settingsSection{
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    padding-inline: 0.5rem;
}

.settingsHeader{
    margin-bottom: 2rem;
}

#playbackSettings{
    background-color: #333;
}

#appDrawerDivider{
    min-height: 5px;
    background-color: black;
}

#patchSettings{
    background-color: #2a2a2a;
}

#animationModeSettings{
    margin-bottom: 1rem;
}

#rhythmListCountInput{
    width: 3rem;
}

#rhythmListOffsetInput{
    width: 3rem;
}

#presetRhythmListControls{
    max-width: 200px;
}

#globalProgressControlButtons{
    text-align: center;
}

.settingsCategoryLabel{
    display: inline-block;
    margin-bottom: 1rem;
}

.patchSettingTextInput{
    width: 100%;
    box-sizing: border-box;
}

.secondaryLabels{
    font-size: 0.8rem;
}

.listWithModesInput{
    margin-block: 1rem;
}

.patchSettingNumericalInput{
    width: 3rem;
}

.colorKeyFrameContainer{
    display: flex;
    align-items: center;
}

.colorKeyFrameInput{
    width: 2.5rem;
}

.colorKeyFrameLabel{
    margin-left: 5px;
}

#strokeWeightSliderResetBtn{
    margin-top: 0.5rem;
}
